:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    --semi-bold: 400;
    --bold: 700;
}

body {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background: var(--cream);
    display: grid;
    place-content: center;
    height: 100vh;
}

#my-balance {
    color: white;
    background: var(--soft-red);
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

#balance-section p { padding-bottom: 0.5rem; }

.inline {
    display: inline-block;
}

#spend-section {
    background: var(--very-pale-orange);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1.5rem;
}

#seven-day-spend {
    padding-bottom: 1rem;
}

.light-font {
    color: var(--medium-brown);
}

.dark-font {
    font-weight: var(--bold);
    color: var(--dark-brown);
}

.total-amount {
    font-size: 36px;
}

#balance-section .total-amount {
    font-weight: var(--bold);   
}

.bold {
    color: var(--dark-brown);
    font-weight: var(--bold);
}

.auto-left-margin { margin-left: auto; }

#spend-percentage p {
    margin: 0;
    text-align: right;
}

hr {
    border: 1px solid var(--cream);
    margin: 2rem 0;
}

.flex {
    display: flex;
}

.flex-bar-graph {
    display: flex;
    color: var(--medium-brown);
    align-items: flex-end;
}

h1, h2, p {
    margin: 0;
}

.bar-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount {
    background: var(--dark-brown);
    color: var(--cream);
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    font-weight: var(--bold);
    visibility: hidden;
}

.bar-graph {
    background: var(--soft-red);
    width: 3rem;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
}

.bar-flex:hover .bar-graph {
    filter: brightness(1.2);
    opacity: 0.6;
    cursor: pointer;
}

.bar-flex:hover .amount { visibility: visible; }

.day { text-align: center; }

@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    #my-balance {
        padding: 1rem;
        border-radius: 0.5rem;
    }

    #spend-section {
        border-radius: 1rem;
        padding: 1rem;
        width: 20rem;
    }

    .bar-flex {
        width: 2.5em;
    }

    .bar-graph {
        width: 2em;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 22px;
    }
    #my-balance {
        padding: 0.5rem;
    }
    #spend-section {
        width: 15rem;
    }
    .bar-flex {
        width: 2em;
    }
    .bar-graph {
        width: 1.2em;
        border-radius: 0.2rem;
    }
    #spend-percentage p {
        font-size: 15px;
    }
    .total-amount {
        font-size: 32px;
    }
}